* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0), #000000c4), url(../image/bg_4.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.header-blog {
    background-image: linear-gradient(to right, rgba(221, 221, 221, 0), rgba(14, 14, 14, 0.753)), url(../image/bg_2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.overlay a:hover,
.overlay a:focus {
    color: #f62a66;
}

.fa-bars {
    cursor: pointer;
    transition: 0.3s;
    color: #fdfdfd;
}

.fa-bars:hover,
.fa-bars:focus {
    color: #f62a66;
}

.banner-blog {
    padding-top: 16em;
    padding-bottom: 3em;
}

.address-span {
    font-size: 1.3rem;
}

.address-span a:hover {
    color: #8e8e8e!important;
    transition: 0.3s;
}

.blog-main {
    margin: 8em 3rem;
}

.blog-main h4:hover {
    color: #000000;
    transition: 0.3s;
    cursor: pointer;
}

.blog-main h4 {
    color: #f0f0f0;
    transition: 0.3s;
    cursor: pointer;
}

.blog-text {
    padding: 5em 3em;
}

.data-img-blog {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 1.2rem;
    right: 0;
    border-radius: 0 0 1rem 1rem;
    background-image: linear-gradient(to top, #f62a66, rgba(255, 255, 255, 0));
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.img-data-blog:hover .data-img-blog {
    height: 30%;
}

.text-data-blog {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    padding: 0.5rem;
}

.btn-view {
    border: 2px solid #f62a66;
    color: #f62a66;
    padding: 1rem 1.5rem;
    border-radius: 0!important;
    font-size: 1.5rem;
    transition: 0.5s;
}

.footer-blog {
    background-color: rgb(35, 35, 35);
    color: #fff;
    padding: 3rem 1.5rem;
    margin-top: 10em;
}

.footer-blog p {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.text-clients {
    padding: 2rem 1rem;
}

.footer-part-3 img {
    width: 10rem;
    padding: 1.2rem;
}

.footer-blog ul {
    list-style: none;
}

.footer-blog li {
    font-size: 1.4rem;
    color: #ccc;
    padding: 1rem;
}

.btn-submit {
    background-color: #f62a66;
    margin: 2rem 0;
}

.footer-part {
    padding: 3rem 1.6rem;
}

.footer-copy-right {
    padding: 5rem;
    font-size: 1.3rem;
    color: #bfbfbf;
}

.pagination {
    padding: 4em 27%;
}

.page-gallery {
    border: 2px solid #f62a66;
    margin: 2em 0.1em;
    font-size: 1.5rem;
    cursor: pointer;
    color: #f62a66;
}

.active {
    background: #f62a66!important;
    color: #fff!important;
}